.category-slide{
	font-family: GothamRounded;
        text-align: left;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: -0.6px;
        color: #005d62;
}

.title-slide{
	font-family: GothamRounded;
	text-align: left;
	font-size: 40px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.2;
	letter-spacing: normal;
	color: #000000;
}

.summary-slide{
	font-family: GothamRounded;
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.57;
	letter-spacing: 0.3px;
	color: #000000;
}
