<li class="glide__slide">
    <div class="ui two column grid" >
        <div class="four wide column text-glide" >
            <span class="category-slide" >{{post_detail.category}}</span>
            <br>
            <span class="title-slide" >{{post_detail.title}}</span>
            <br>
            <span class="summary-slide" >{{post_detail.summary}}</span>
        </div>
        <div class="twelve wide column" >
            <img src="{{post_detail.image}}" style="max-width: 600px;" >
        </div>
    </div>
</li>
