<div class="column" >
    {{#scsData.detailPageLink}}
    <a href="{{scsData.detailPageLink}}">
        <div class="ui two column grid" >
            <div class="six wide column">
                <img src="{{post_detail.image}}" class="image-top-menu" />
            </div>
            <div class="ten wide column text-top-section" >
                <h3>{{post_detail.category}}</h3>
                <p>{{post_detail.title}}</p>
            </div>
        </div>
    </a>
    {{/scsData.detailPageLink}}
</div>
